
*,
::before,
::after{
    margin: 0;
    padding: 0;
}

html{
    --carousel-width: 400px;
    --carousel-height: 400px; 
}


.item{
    width: var(--carousel-width);
    height: var(--carousel-height);
    overflow: hidden;
    transition: all 0.3s;
}
.main__carousel{
    width: var(--carousel-width);
    height: var(--carousel-height);
    overflow: hidden; 
    position: relative;
    margin: 0 auto;
}


ul{
    display: flex;
    position: absolute;
    flex-direction: row;
    flex: 1;
}

ul li {
    width: var(--carousel-width);
    flex-shrink: 2;
}

.arrow{
    display: flex;
    flex-direction: row;
    gap: 15em;
    margin-top: 140px;
}
.next-arrow{
    width: 60px;
    height: 60px;
    border-top: 10px solid #6E18C0;
    border-right: 10px solid #6E18C0;
    transform: rotate(45deg);
    cursor: pointer;
    z-index: 100; 
}
.prev-arrow{
    transform: rotate(-135deg);
    width: 60px;
    height: 60px;
    border-top: 10px solid #6E18C0;
    border-right: 10px solid #6E18C0;
}
